

@mixin sans {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin clearfix {
  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

@mixin media_larger_than_mobile {
   @media(min-width: 600px) { @content; }
}

@mixin section-break {
  border-top: 4px solid #c7c7c7;
  border-bottom: 2px solid #c7c7c7;
  padding: 0.2rem 0 0.4rem;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  transition: $value;
}

@mixin bottom_shadow {
  -webkit-box-shadow: 0 6px 8px -2px #808080;
  -moz-box-shadow: 0 6px 8px -2px #808080;
  box-shadow: 0 6px 8px -2px #808080;
}
