// Main resume styling

// Styling for the entire document
.theme-default {
  width: $container-width;
  margin-right: auto;
  margin-left: auto;
  @include clearfix;
}

// Header styling
.page-header {
  border: 1px solid black;
  padding: 2rem 2rem 0.5rem;
  @include bottom_shadow;

  .avatar {
    width: 200px;
    height: 200px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }

  .header-resume-name {
    @include sans;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: -0.15rem;
    line-height: 1;
    margin: 1rem 0 0;
  }

  .title-bar {
    @include section-break;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0;
    @include clearfix;

    .header-title {
      @include sans;
      font-weight: 300;
      font-size: 1.75rem;
      line-height: 2rem;
      letter-spacing: -0.05rem;
      text-align: center;
      margin: 0 0 0.5rem;

      @include media_larger_than_mobile {
        float: left;
        margin: 0;
      }
    }
  }

  .executive-summary {
    line-height: 2rem;
    @include media_larger_than_mobile {
      font-size: 1.25rem;
    }
  }
}



.icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 4px;
  text-align: center;
  border-top: 2px solid #c7c7c7;
  padding-top: 0.4rem;

  @include media_larger_than_mobile {
    float: right;
    border-top: none;
    padding-top: 0;
  }

  .icon-link-item {
    display: inline-block;
    margin-left: 5px;
  }

  .icon-link-github {
    display: inline-block;

    &:hover .icon path {
      fill: black;
      @include transition(all 0.2s ease);
    }
  }

  .icon-link-linkedin {
    display: inline-block;

    &:hover .icon path {
      fill: #0077B5;
      @include transition(all 0.2s ease);
    }
  }

  .icon {
    height: 28px;
  }
}

.contact-button {
  @include sans;
  background-color: #efefef;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 1.5rem auto;
  width: 220px;
  font-size: 1.3rem;
  color: black;
  line-height: 55px;

  @include transition(all 0.2s ease);

  &:hover {
    background-color: grey;
    color: white;
  }
}


// Content section styling
.content-section {
  border: 1px solid black;
  padding: 2rem 1.5rem 0.5rem;
  @include bottom_shadow;
  margin: 3rem 0 0rem;

  .section-header {
    @include section-break;
    margin-bottom: 1.5rem;

    .section-title {
      @include sans;
      font-weight: 900;
      font-size: 1.75rem;
      letter-spacing: -0.05rem;
      margin: 0;
    }
  }

  .resume-item {
    margin-bottom: 1.5rem;
  }

  .item-title {
    @include sans;
    font-weight: 700;
    margin: 0 0 0.75rem;
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
    line-height: 1;
  }

  .item-details {
    @include sans;
    font-weight: 400;
    font-size: 1.15rem;
    margin: 0 0 0.75rem;
    line-height: 1;
  }

  .item-summary, .resume-item-list {
    margin: 0.75rem 0 0;
    font-size: 1.2rem;
    li {
      padding: 0.3rem 0 0;
    }
  }
}
