// Main resume styling

////////////////////////////////////////////////////////////////////////////////
// Static header styling
.site-header {
  position: fixed;
  width: 0;
  height: 0;
}

////////////////////////////////////////////////////////////////////////////////
// Hamburger dropdown menu styling

.dropdown-menu {
  position: relative;
  display: inline-block;

  &:hover .dropdown-menu-content {
    display:block;
  }

  &:hover .icon-container {
    background-color: $dropdown-selected;
  }

  &:active .dropdown-menu-content {
    display:block;
  }

  &:active .icon-container {
    background-color: $dropdown-selected;
  }
}

.dropdown-menu-content a:hover {
  background-color: $dropdown-selected;
}

.dropdown-menu-content a:active {
  background-color: $dropdown-selected;
}

.icon-container {
  background-color: $dropdown-unselected;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}

.dropdown-menu-content {
  display: none;
  position: absolute;
  background-color: $dropdown-unselected;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
  min-width: 8rem;

  a {
    @include sans;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Styling for the entire website

.theme-default {
  margin: 0;
  background-color: #EAF5F5;
}

////////////////////////////////////////////////////////////////////////////////
// Styling for the entire resume

.wrapper {
  width: 650px;
  @media screen and (max-width: 1280px) {
    width: 80%;
  }

  margin-left: auto;
  margin-right: auto;
  @include clearfix;
}

////////////////////////////////////////////////////////////////////////////////
// Header styling

.page-header {
  margin-top: 1.5rem;
  border: 1px solid black;
  padding: 2rem 2rem 0.5rem;
  @include bottom_shadow;
  background-color: #FFFFFF;

  .avatar {
    width: 200px;
    height: 200px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }

  .header-resume-name {
    @include sans;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: -0.15rem;
    line-height: 1;
    margin: 1rem 0 0;
  }

  .title-bar {
    @include section-break;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0;
    @include clearfix;

    .header-title {
      @include sans;
      font-weight: 300;
      font-size: 1.75rem;
      line-height: 2rem;
      letter-spacing: -0.05rem;
      text-align: center;
      margin: 0 0 0.5rem;

      @include media_larger_than_mobile {
        float: left;
        margin: 0;
      }
    }
  }

  .executive-summary {
    @include sans;
    font-size: 1rem;
    line-height: 1.75rem;
    @include media_larger_than_mobile {
      font-size: 1rem;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Icon Styling

.icon-links {
  margin: 0;
  padding: 0;
  list-style: none;
  top: 4px;
  text-align: center;
  padding-top: 0.4rem;

  @include media_larger_than_mobile {
    float: right;
    border-top: none;
    padding-top: 0;
  }

  .icon-link-item {
    display: inline-block;
    margin-left: 5px;
  }

  .icon-link-github {
    display: inline-block;

    &:hover .icon path {
      fill: black;
      @include transition(all 0.2s ease);
    }
  }

  .icon-link-linkedin {
    display: inline-block;

    &:hover .icon path {
      fill: #0077B5;
      @include transition(all 0.2s ease);
    }
  }

  .icon {
    height: 28px;
  }
}

.contact-button-wrap {
  @include sans;
  margin:0.7em auto;
  width: 7em;
  height: 2em;
  font-size: 2.5rem;
  position: relative;
  -webkit-perspective: 800px;
  perspective: 800px;
  background:#FFFFFF;
  border-radius:5px;
  box-shadow:inset 0 0 0.2em 0 rgba(0,0,0,0.25);

  .inside {
    width:100%;
    padding:0.3em 0;
    position:absolute;
    text-align:center;
    font-size:0.4em;

    .email-span {
      color: #000000;
      font-weight: bold;
    }
  }

  .button {
    @include contact_button_transform;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor:pointer;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    z-index:2;

    div {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius:5px;
    }

    .front {
      background:#EFEFEF;
      z-index:2;

      span {
        font-size:0.7em;
        float:left;
        width:100%;
        padding:0.65em 0;
        text-align:center;
        color:#444444;
      }
    }

    .back {
      background:#333;
      transform: rotateX( 180deg );
      z-index:2;
      box-shadow: 0 0.2em 0.2em 0 rgba(0,0,0,0.15);
    }
  }

  &:hover .button {
    -webkit-transform: rotateX(-150deg);
    transform: rotateX(-150deg);
  }

  &:active .button {
    -webkit-transform: rotateX(-150deg);
    transform: rotateX(-150deg);
  }
}

////////////////////////////////////////////////////////////////////////////////
// Content section styling

.content-section {
  border: 1px solid black;
  padding: 2rem 1.5rem 0.5rem;
  margin: 3rem 0 0rem;
  @include bottom_shadow;
  background-color: #FFFFFF;

  .section-header {
    @include section-break;
    margin-bottom: 1rem;
    padding: 0.4rem 0;
    @include clearfix;

    .section-title {
      @include sans;
      font-weight: 900;
      font-size: 1.75rem;
      letter-spacing: -0.05rem;
      margin: 0;

      @include media_larger_than_mobile {
        float: left;
        margin: 0;
      }
    }

    a {
      margin: 0;
      padding: 0;
      top: 4px;
      text-align: center;
      padding-top: 0.4rem;
      display: inline-block;

      @include media_larger_than_mobile {
        float: right;
        border-top: none;
        padding-top: 0;
      }

      &:hover .icon path {
        fill: #0099B5;
        @include transition(all 0.2s ease);
      }
    }
  }


  .resume-item {
    margin-bottom: 1.5rem;
  }

  .resume-item-title {
    @include sans;
    font-weight: 700;
    margin: 0 0 0.75rem;
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
    line-height: 1;

    // Styling for any links in the title
    a {
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid;
      @include transition(all 0.2s ease);

      &:hover {
        color: blue;
      }
    }
  }

  .resume-item-details {
    @include sans;
    font-weight: 400;
    font-size: 1.15rem;
    margin: 0 0 0.75rem;
    line-height: 1;

    h4 {
      @include sans;
      font-weight: 400;
      font-size: 1.15rem;
      margin: 0 0 0.75rem;
      line-height: 1;
    }

    .resume-item-details-duration {
      font-size: 1.0rem;
    }
  }

  .resume-item-summary, .resume-item-list {
    @include sans;
    margin: 0.75rem 0 0;
    font-size: 1rem;
    li {
      padding: 0.3rem 0 0;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Footer Styling

.site-footer {
  border-top: 4px solid #c7c7c7;
  margin-top: 3rem;

  .footer-line {
    text-align: center;
    font-size: 1.1rem;
    color: #808080;
  }
}
