// SCSS variables for use in any sheet

$container-width: 650px !default;

$dropdown-selected: #E1E1E1;
$dropdown-unselected: #F1F1F1;

//$hamburger-menu-unselected: #3E8E41;
//$hamburger-menu-selected: #4CAF50;

$header-background-color: #C0C0C0;
