<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv = "X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>

    <meta name="description" content="{% if page.excerpt %} {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} {% endif %}">

    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" type="image/png" href = "/images/favicon.png">
  </head>

  <body class="theme-default">
    <div class="wrapper" itemscope itemtype = "http://schema.org/Person">

      <header class="page-header">
        <!-- Personal avatar, rendered depending on config settings -->
        {% if site.avatar == 'true' %}
          <img src="images/profilepic.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Name for the top of the resume -->
        <h1 class="header-resume-name" itemprop="resume-name">{{site.name}}</h1>

        <div class="title-bar no-print">

          <!-- Title to appear at the top of the resume -->
          <h2 class="header-title" itemprop="jobTitle">{{site.personal_title}}</h2>

          <!-- Icon links in an include due to repetion -->
          {% include icon-links.html %}
        </div>

        <!-- Full executive summary, as defined in config -->
        <div class="executive-summary" itemprop="description">
          {{ site.summary }}
        </div>

        <!-- Email button -->
        <a href="mailto:{{ site.email }}" class="contact-button no-print" itemprop="email">Contact me</a>

      </header>


      {% if site.experience_toggle %}
      <!-- Experience section -->
        <section class="content-section">

          <!-- Main title for experience -->
          <header class="section-header">
            <h2 class="section-title">Experience</h2>
          </header>

          {% for job in site.data.experience %}
          <!-- Individual experiences loaded by Liquid -->
            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
              <h3 class="item-title" itemprop="name">
                {% if job.website %}
                <a href="{{ job.website }}">
                  {{ job.company }}
                </a>
                {% else %}
                  {{ job.company }}
                {% endif %}
              </h3>

              <h4 class="item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
              <p class="item-summary">{{ job.summary }}</p>
            </div>
          {% endfor %}
        </section>
      {% endif %}


      {% if site.projects_toggle %}
      <!-- Project section -->
        <section class="content-section">

          <!-- Main title for project section -->
          <header class="section-header">
            <h2 class="section-title">Projects</h2>
          </header>

          {% for project in site.data.projects %}
          <!-- Individual projects loaded by Liquid -->
            <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
              <h3 class="item-title" itemprop="name">
                {% if project.website %}
                  <a href="{{ project.website }}">
                    {{ project.title }}
                  </a>
                {% else %}
                  {{ project.title }}
                {% endif %}
              </h3>

              <h4 class="item-details" itemprop="description">{{ project.duration }}</h4>
              <p class="item-summary">{{ project.summary }}</p>
            </div>
          {% endfor %}
        </section>
      {% endif %}


      {% if site.education_toggle %}
      <!-- Education section -->
      <section class="content-section">

        <!-- Main title for education section -->
        <header class="section-header">
          <h2 class="section-title">Education</h2>
        </header>

        {% for school in site.data.schools %}
        <!-- Individual education entries loaded by Liquid -->
          <div class="resume-item" itemscope itemtype="http://schema.org/School">
            <h3 class="item-title" itemprop="name">
              {{ school.degree }}
            </h3>
            <h4 class="item-details" itemprop="description">{{ school.name }} &bull; {{ school.location }}</h4>
            <p class="item-summary">{{ school.summary }}</p>
          </div>
        {% endfor %}
      </section>
      {% endif %}

      {% if site.skills_toggle %}
      <!-- Skills section -->
      <section class="content-section">

        <!-- Main title for skills section -->
        <header class="section-header">
          <h2 class="section-title">Skills</h2>
        </header>

        {% for skill in site.data.skills %}
        <!-- Individual skill entries loaded by Liquid -->
          <div class="resume-item">
            <h3 class="item-title">{{ skill.header }}</h3>
            <p class="item-summary">{{ skill.list }}</p>
          </div>
        {% endfor %}
      </section>
      {% endif %}

      <!-- Footer -->
      <footer class="site-footer">
        <p class="footer-line">If you would like to get in contact with me, please feel free to email me at <a href="mailto:{{ site.email }}" class="footer-email">{{ site.email }}</a>
      </footer>
    </div>
  </body>
</html>
