<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv = "X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>

    <meta name="description" content="{% if page.excerpt %} {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} {% endif %}">

    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" type="image/png" href = "/images/favicon.png">
  </head>

  <body class="theme-default">
    <div class="wrapper" itemscope itemtype = "http://schema.org/Person">

      <header class="page-header">
        <!-- Personal avatar, rendered depending on config settings -->
        {% if site.avatar == 'true' %}
          <img src="images/profilepic.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Name for the top of the resume -->
        <h1 class="header-resume-name" itemprop="resume-name">{{site.name}}</h1>

        <div class="title-bar no-print">

          <!-- Title to appear at the top of the resume -->
          <h2 class="header-title" itemprop="jobTitle">{{site.personal_title}}</h2>

          <!-- Icon links in an include due to repition -->
          {% include icon-links.html %}
        </div>

        <!-- Full executive summary, as defined in config -->
        <div class="executive-summary" itemprop="description">
          {{ site.summary }}
        </div>

        <!-- Email button -->
        <a href="mailto:{{ site.email }}" class="contact-button no-print" itemprop="email">Contact me</a>

      </header>


      <!-- Experience section -->
      {% if site.experience_toggle %}
        <section class="content-section">

          <!-- Main title for experience -->
          <header class="section-header">
            <h2 class="section-title">Experience</h2>
          </header>

          <!-- Individual experiences loaded by Liquid -->
          {% for job in site.data.experience %}
            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
              <h3 class="item-title" itemprop="name">{{ job.company }}</h3>
              <h4 class="item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }} </h4>
              <p class="item-summary">{{ job.summary}}</p>
            </div>
          {% endfor %}
        </section>
      {% endif %}


      <!-- Project section -->

    </div>
  </body>
</html>
