<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv = "X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>

    <meta name="description" content="{% if page.excerpt %} {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }} {% endif %}">

    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" type="image/png" href = "/images/favicon.png">
  </head>

  <body class="theme-default">

    <div class="site-header" id="sticky-header">
      <div class="dropdown-menu no-print">
        <div class="icon-container">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="dropdown-menu-content">
	        <a href="#education">Education</a>
          <a href="#experience">Experience</a>
          <a href="#projects">Projects</a>
	        <a href="#hackathons">Hackathons</a>
          <a href="#skills">Skills</a>
        </div>
      </div>
    </div>

    <div class="wrapper" itemscope itemtype = "http://schema.org/Person">
      <header class="page-header">
        <!-- Personal avatar, rendered depending on config settings -->
        {% if site.avatar == 'true' %}
          <img src="images/profilepic.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Name for the top of the resume -->
        <h1 class="header-resume-name" itemprop="resume-name">{{site.name}}</h1>

        <div class="title-bar no-print">
          <!-- Title to appear at the top of the resume -->
          <h2 class="header-title" itemprop="jobTitle">{{site.personal_title}}</h2>

          <!-- Icon links in an include due to repetion -->
          {% include icon-links.html %}
        </div>

        <!-- Full executive summary, as defined in config -->
        <p class="executive-summary" itemprop="description">
          {{ site.summary }}
        </p>

        <!-- Email button -->
        <div class="contact-button-wrap">
          <div class="inside">
            <span class="email-span">Email:</span>
            <span class="email-span-data">{{ site.email }}</span>
          </div>
          <div class="button">
            <div class="front">
              <span>Contact Me</span>
            </div>
            <div class="back"></div>
          </div>
        </div>
      </header>



      {% if site.education_toggle %}
      <!-- Education section -->
      <section class="content-section" id="education">

        <!-- Main title for education section -->
        <header class="section-header">
          <h2 class="section-title">Education</h2>

          <!-- Section icon -->
          <a href="#education" itemprop="sameAs">
            {% include icons/icon-education.html %}
          </a>
        </header>

        {% for school in site.data.schools %}
        <!-- Individual education entries loaded by Liquid -->
          <div class="resume-item" itemscope itemtype="http://schema.org/School">
            <h3 class="resume-item-title" itemprop="name">
              {{ school.degree }}
            </h3>
            <div class="resume-item-details" itemprop="description">
              <h4>{{ school.name }} &bull; {{ school.location }}</h4>
              <h4 class="resume-item-details-duration">{{ school.duration }}</h4>
            </div>
            <p class="resume-item-summary">{{ school.summary }}</p>
          </div>
        {% endfor %}
      </section>
      {% endif %}



      {% if site.experience_toggle %}
      <!-- Experience section -->
        <section class="content-section" id="experience">

          <!-- Main title for experience -->
          <header class="section-header">
            <h2 class="section-title">Experience</h2>

            <!-- Section icon -->
            <a href="#experience" itemprop="sameAs">
              {% include icons/icon-experience.html %}
            </a>
          </header>

          {% for job in site.data.experience %}
          <!-- Individual experiences loaded by Liquid -->
            <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
              <h3 class="resume-item-title" itemprop="name">
                {% if job.website %}
                <a href="{{ job.website }}">
                  {{ job.company }}
                </a>
                {% else %}
                  {{ job.company }}
                {% endif %}
              </h3>

              <div class="resume-item-details" itemprop="description">
                <h4>{{ job.position }}</h4>
                <h4 class="resume-item-details-duration">{{ job.duration }}</h4>
              </div>

              <p class="resume-item-summary">{{ job.summary }}</p>
            </div>
          {% endfor %}
        </section>
      {% endif %}



      {% if site.projects_toggle %}
      <!-- Project section -->
        <section class="content-section" id="projects">

          <!-- Main title for project section -->
          <header class="section-header">
            <h2 class="section-title">Personal Projects</h2>
            <!-- Section icon -->
            <a href="#projects" itemprop="sameAs">
              {% include icons/icon-projects.html %}
            </a>
          </header>

          {% for project in site.data.projects %}
          <!-- Individual projects loaded by Liquid -->
            <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
              <h3 class="resume-item-title" itemprop="name">
                {% if project.website %}
                  <a href="{{ project.website }}">
                    {{ project.title }}
                  </a>
                {% else %}
                  {{ project.title }}
                {% endif %}
              </h3>

              <h4 class="resume-item-details" itemprop="description">{{ project.duration }}</h4>
              <p class="resume-item-summary">{{ project.summary }}</p>
            </div>
          {% endfor %}
        </section>
      {% endif %}



      {% if site.hackathons_toggle %}
      <!-- Hackathons section -->
        <section class="content-section" id="hackathons">

          <!-- Main title for hackathons section -->
          <header class="section-header">
            <h2 class="section-title">Hackathons</h2>
            <!-- Section icon -->
            <a href="#hackathons" itemprop="sameAs">
              {% include icons/icon-hackathons.html %}
            </a>
          </header>

          {% for hackathon in site.data.hackathons %}
          <!-- Individual hackathons loaded by Liquid -->
            <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
              <h3 class="resume-item-title" itemprop="name">
                {% if hackathon.website %}
                  <a href="{{ hackathon.website }}">
                    {{ hackathon.title }}
                  </a>
                {% else %}
                  {{ hackathon.title }}
                {% endif %}
              </h3>

	      <h4 class="resume-item-details" itemprop="description">{{ hackathon.event-name}}</h4>
              <h4 class="resume-item-details" itemprop="description">{{ hackathon.date }}</h4>
              <p class="resume-item-summary">{{ hackathon.summary }}</p>
            </div>
          {% endfor %}
        </section>
      {% endif %}



      {% if site.skills_toggle %}
      <!-- Skills section -->
      <section class="content-section" id="skills">

        <!-- Main title for skills section -->
        <header class="section-header">
          <h2 class="section-title">Skills</h2>
          <!-- Section icon -->
          <a href="#skills" itemprop="sameAs">
            {% include icons/icon-skills.html %}
          </a>
        </header>

        {% for skill in site.data.skills %}
        <!-- Individual skill entries loaded by Liquid -->
          <div class="resume-item">
            <h3 class="resume-item-title">{{ skill.header }}</h3>
            <p class="resume-item-summary">{{ skill.list }}</p>
          </div>
        {% endfor %}
      </section>
      {% endif %}


      <!-- Footer -->
      <footer class="site-footer">
        <p class="footer-line">If you would like to get in contact with me, please feel free to email me at <a href="mailto:{{ site.email }}" class="footer-email">{{ site.email }}</a>
      </footer>
    </div>
  </body>
</html>
